<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>

  
    
 
    {%load static%}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css\index.css' %}"
    />
  </head>
  <body>
    {% csrf_token %}
    <header>
      <div class="logo">
       {% load static %} <img src="{% static "download.png" %}" alt="home" />
      </div>

      <div class="header-div">
        <div class="navigation">
          <ul>

            

            <li>
              <li>{% if 'user' in request.session %}
                <a href="taketest">Take Test</a>
                {% else %}
                <a href="taketest">Take Test</a>
  
                </button>
  
                {% endif %}
                </li>
            {% if 'user' in request.session %}
            <li><a href="{% url 'signin' %}">Sign Out</a></li>
            {% endif %}
            <li><a href="focusMode">Focus Mode</a></li>

            <li><a href="#aboutus1">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>

          <button
            class="sign-in"
            onclick="location.href='{% url 'signin' %}'"
          >
            Logout
          </button>
        </div>
      </div>
    </header>
    <main>
    <div class="container">
        <div class="content">
            <div class="square twitch" style="margin-bottom: 50px;">
                <span class="one" ></span>
                <span class="two"></span>
                <span class="three"></span>
                <div class="circle">
                  
                    <h2 class="DrugRadar"> PeacefulMinds
               
                    </h2>
                    <p class="tag-line">Small steps can lead to big progress in mental health</p>
                </div>
            </div>
<br><br><br><br>
            
            <a  class="button" target="_parent">
                    <span class="actual-text">&nbsp;Mental health&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Mental health&nbsp;</span>
            </a>
            <div class ="mentalhealth">
            <p ><br> Mental health encompasses a person's emotional, psychological, and social well-being. It involves the ability to handle stress, maintain healthy relationships, think clearly, and cope with life's challenges effectively. Good mental health allows individuals to set and achieve goals, enjoy life, seek help when needed, balance work and play, practice self-care, and build resilience. It's a dynamic state that fluctuates over time, and maintaining it requires a combination of self-care, social support, and, when necessary, professional help. </p></div>
            
        <a  class="button" target="_parent">
                    <span class="actual-text">&nbsp;Suicide Rates&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Suicide Rates&nbsp;</span>
                    
            </a>
            <div class ="mentalhealth">
            <p>Preventing suicide is closely tied to addressing mental health. Suicide ranks as the fourth leading cause of death among 15-29-year-olds, and severe mental health conditions can lead to premature mortality. Stigma and discrimination persist, and the treatment gap remains wide, despite cost-effective solutions. Increased investment is crucial for awareness, access to care, and research. WHO's Special Initiative for Mental Health (2019-2023) aims to provide quality mental health care to an additional 100 million people in 12 priority countries, highlighting the urgency of this issue.</p></div>
            <a  id="aboutus1" class="button" target="_parent">
                    <span class="actual-text">&nbsp;About Us&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;About Us&nbsp;</span>
                    
            </a>
            <div class =" mentalhealth">
            <p >

Welcome to PeacefulMinds, a dedicated space for nurturing mental well-being and emotional health. Our mission is to provide compassionate support, resources, and guidance to individuals seeking to improve their mental health. Whether you're looking for expert advice, self-help tools, or a supportive community, we're here to empower you on your journey towards mental and emotional wellness. Together, we can break down stigmas, promote self-care, and foster resilience. Explore a wealth of information, connect with like-minded individuals, and embark on a path to a happier, healthier mind.</p></div>
          
</div>

    </div>

  </body>
</html>
