<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <!-- Uncomment the following line if you want to use a local CSS file -->
   <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
    <style>
        /* Add your CSS styles here if needed */
    </style>
</head>
<body>
    {% csrf_token %}
    <header>
      <div class="logo">
        
          <img src="{% static 'download.png' %}" alt="home">
      </div>
      <div class="header-div">
          <div class="navigation">
              <ul>
                
                  <li><a href="taketest">Take Test</a></li>
                  <li><a href="focusMode">Focus Mode</a></li>
                  <li><a href="Mentalhealth">FAQ's</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  {% if user.is_authenticated %}
                  <!-- User is logged in, show "Logout" button -->
                  <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                  <!-- User is not logged in, show "Sign In" button -->
                  <li><a href="{% url 'signin' %}">Sign In</a></li>
              {% endif %}
              </ul>
          </div>
      </div>
  </header>
    <main>
        <div class="container">
            <div class="content">
                <br><br><br><br><br><br><br><br><br>
                <div class="square twitch" style="margin-bottom: 50px;">
                    <span class="one"></span>
                    <span class="two"></span>
                    <span class="three"></span>
                    <div class="circle">
                        <br><br><br><br>
                        <h2 class="DrugRadar">Sweet Pills</h2>
                        <p class="tag-line">Small steps can lead to big progress in mental health</p>
                    </div>
                </div>
                <br><br><br><br>
                <a class="button" target="_parent" href="#mental-health-section">
                    <span class="actual-text">&nbsp;Mental health&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Mental health&nbsp;</span>
                </a>
                <p class="mentalhealth" id="mental-health-section"><br>Mental health shapes our daily experiences, influencing how we think, feel, and connect with others. Prioritizing it means nurturing resilience and seeking support when needed. It's the cornerstone of a fulfilling and balanced life.</p>
                <br><br>
                <a class="button" target="_parent" href="#suicide-rates-section">
                    <span class="actual-text">&nbsp;Suicide Rates&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Suicide Rates&nbsp;</span>
                </a>
                <p class="mentalhealth" id="suicide-rates-section">Preventing suicide is closely tied to addressing mental health. Suicide ranks as the fourth leading cause of death among 15-29-year-olds, and severe mental health conditions can lead to premature mortality. Stigma and discrimination persist, and the treatment gap remains wide, despite cost-effective solutions. Increased investment is crucial for awareness, access to care, and research. WHO's Special Initiative for Mental Health (2019-2023) aims to provide quality mental health care to an additional 100 million people in 12 priority countries, highlighting the urgency of this issue.</p>
            </div>
        </div>
    </main>
</body>
</html>
